@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../img/background-cadastro.png) no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.cadastro-logo{
    margin: 40px 50px;
}

.cadastro-container{
    margin-top: 50px;
    margin-left: 90px;
}

.crie-conta{
    margin: 10px 0px;
    color: #E8E3F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.cadastro-p-maior{
    margin: 10px 0px;
    color: #E8E3F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.p-contraste{
    color: #ffffff;
    font-weight: 700;
}

.crie-h1{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 49.9px;
}

.crie-detalhe{
    color: #039EFF;
}

.cadastro-formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 130px;
    margin-left: 90px;
}

.cadastro-label-align{
    display: flex;
    align-items: center;
}

.material-symbols-outlined{
    color: #8D8D8D;
    background-color: #ffffff;
    padding: 15.5px;
    border-radius: 50px 0px 0px 50px;
}

.input-long{
    padding: 20px;
    border: none;
    width: 450px;
    border-radius: 0px 50px 50px 0px;
}

.input-long:focus{
    outline: 0;
}

.input-m{
    padding: 20px;
    border: 0px;
    width: 227px;
    border-radius: 0px 50px 50px 0px;
}

.input-m:focus{
    outline: 0;
}

.cad-button-options{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
    gap: 50px;
}

.submit-1{
    background-color: #00d9ff;
    color: white;
    font-size: 25px;
    border: 0px;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

.submit-1:hover{
    color: #d0d0d0;
    background-color: #0198b2;
}

.cadastro-nome-aviso{
    margin-left: 5px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

@media(max-width: 768px){
    body{
        background: none;
        background-color: #1167A8;
    }
    .cadastro-formulario{
        margin: 0px 0px 0px 20px;
    }

    .input-long{
        width: 300px;
    }
    .cad-button-options{
        gap: 10px;
    }
    .cadastro-formulario{
        margin: 0px 0px 0px 10px;
    }
}

@media(max-width: 425px){
    .cadastro-container{
        margin-left: 30px;
    }
    .cad-button-options{
        margin-left: -20px;
        text-align: center;
        display: block;
    }
    .input-long{
        width: 210px;
    }
    .input-m{
        width: 210px;
    }
    .cadastro-formulario{
        margin: 0px 0px 0px 10px;
    }
}