.white-italic-12{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 12px;
    font-style: italic;
}

.white-normal-13{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 13px;
}

.white-normal-18{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 18px;
}