.white-normal-10{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 11px;
}

.white-italic-12{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 12px;
    font-style: italic;
}

.white-normal-13{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 13px;
}

.white-normal-15{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
}

.white-normal-21{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 21px;
}

.white-normal-18{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 18px;
}

.black-normal-40{
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 40px;
}

.blue-normal-40{
    color: #104D7B;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}

.black-normal-30{
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 30px;
}

.black-normal-20{
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 20px;
}

.black-normal-18{
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 18px;
}

.noto-black-normal-30{
    font-family: 'Noto Sans', sans-serif;
    color: #000000;
    font-size: 18px;
}


.noto-black-normal-18{
    font-family: 'Noto Sans', sans-serif;
    color: #000000;
    font-size: 18px;
}

.noto-white-normal-30{
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 30px;
}

.noto-normal-green-30{
    font-family: 'Noto Sans', sans-serif;
    color: #53E261;
    font-size: 30px;
}

.noto-blue-normal-60{
    font-family: 'Noto Sans', sans-serif;
    color: #104D7B;
    font-size: 60px;
}

.noto-red-normal-40{
    font-family: 'Noto Sans', sans-serif;
    color: #BD202E;
    font-size: 40px;
}

.noto-green-normal-60{
    font-family: 'Noto Sans', sans-serif;
    color: #53E261;
    font-size: 60px;
}

.noto-green-normal-40{
    font-family: 'Noto Sans', sans-serif;
    color: #00B2FF;
    font-size: 40px;
}

.bl-normal-40{
    font-family: 'Inter', sans-serif;
    color: #104D7B;
    font-size: 40px;
}

.bl-normal-60{
    font-family: 'Inter', sans-serif;
    color: #104D7B;
    font-size: 60px;
}

.red-normal-60{
    font-family: 'Inter', sans-serif;
    color: #BD202E;
    font-size: 60px;
}

.noto-blue-normal-40{
    font-family: 'Noto Sans', sans-serif;
    color: #104D7B;
    font-size: 40px;
}

.noto-red-normal-60{
    font-family: 'Noto Sans', sans-serif;
    color: #BD202E;
    font-size: 60px;
}