*{
    margin: 0px;
}

body{
    background: url(https://media.istockphoto.com/id/1288526180/photo/4k-abstract-white-backgrounds.jpg?b=1&s=612x612&w=0&k=20&c=DoL2JfG_nI_UiB7RUQub2n3UDKpKJPhNhLLobJ47Flw=) no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(230, 230, 230, 0.8);
    background-size: cover;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.div-princ{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    padding-bottom: 30px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 6px 11px 15px 1.5px rgba(0, 0, 0, 0.9);
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 3px;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    transition: .3s;
}

button:hover{
    background-color: rgb(1, 104, 138);
    cursor: pointer;
}

.background-login{
    max-width: 100%;
    width: 100000000px;
    background-image:url(img/background2.jpg);
}

.icon-home{
    position: absolute;
    z-index: 1000;
    width: 250px;
    cursor: pointer;
    margin: 8px 7px;
}

.fgt-pass{
    font-size: 14px;
    margin: 0px 0px 0px 79px;
}

.line{
    margin: 25px 0px 0px -80px;
    position: absolute;
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.117);
    width: 380px
}

.second-button{
    font-size: 20px;
    background-color: green;
    margin-top: 50px;
}

.second-button:hover{
    background-color: rgb(1, 85, 1);
}

@media(max-width: 425px){
    .div-princ{
        padding: 50px;
    }
    .icon-home{
        margin: 0px;
        display: block;
        text-align: center;
    }
}

@media(max-width: 320px){
    .div-princ{
        font-size: 50%;
        padding: 30px;
    }
}