*{
    margin: 0px;
    padding: 0px;
}

.body-login{
    background-color: #1167A8;
    display: flex;
}

.login-logo{
    margin: 40px 50px;
    margin-top: 10px;
    margin-left: 180px;

}

.div-principal{
    margin-top: 100px;
    margin-left: -800px;
}

.login-container{
    margin-top: 120px;
    margin-left: 430px;
}

.login-title{
    color: #E8E3F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 49.9px;}

.login-subtitle{
    margin: 10px 0px;
    color: #E8E3F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.login-formulario{
    display: flex;
    flex-direction: column;
    margin-left: 420px;
    gap: 20px;
}

.material-symbols-outlined{
    color: #8D8D8D;
    background-color: #ffffff;
    padding: 15.5px;
    border-radius: 50px 0px 0px 50px;
}

.login-label-items{
    display: flex;
    align-items: center;
    color: #E8E3F0;
    opacity: 0.7;
}

.button-login{
    background-color: #039EFF;
    color: white;
    font-size: 17px;
    border: 0px;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
    margin-top: -10px;
    margin-left: 390px;
    transition: .3s;
}

.button-login:hover{
    color: #d0d0d0;
    background-color: #0198b2;
}

.button-login a{
    text-decoration: none;
    color: #ffffff;
}

.button-cadastro{
    background-color: #039EFF;
    color: white;
    font-size: 20px;
    border: 0px;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
    margin-top: 120px;
    margin-left: 150px;
}

.button-cadastro:hover{
    color: #d0d0d0;
    background-color: #0198b2;
}

.button-cadastro a{
    text-decoration: none;
    color: #ffffff;
}

.input-credenciais{
    padding: 20px;
    border: 0px;
    width: 450px;
    border-radius: 0px 50px 50px 0px;
}

.input-credenciais:focus{
    outline: 0;
}

.a-space{
    color: #ffffff;
    font-weight: 700;
    margin-left: 5px;
}

.forgot-passaword{
    margin-top: -65px;
    margin-left: 15px;
}

.rights{
    color:#8D8D8D;
    opacity: 1;
    margin-top: 52px;
    margin-left: 110px;
}

@media(max-width: 1440px){
    .div-principal{
        margin-top: 0px;
    }
    .backgroung-img{
        max-width: 700px;
        max-height: 700px;
    }
}

@media(max-width: 768px){
    .backgroung-img{
        display: none;
    }
    .div-principal{
        margin-left: -830px;
    }
    .login-label-items{
        width: 400px;
    }
    .button-login{
        margin-left: 300px;
    }
}