.index-main{
    margin-top: 70px;
}

.main-container-index-som{
    text-align: center;
}

.main-container-index-som h1{
    margin-top: -15px;
    margin-bottom: 70px;
}

.img-main{
    width: 1366px;
    max-width: 100%;
}