.index-main{
    margin-top: 70px;
    margin-bottom: 70px;
}

.main-container-index-som{
    text-align: center;
}

.index-main-container{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.main-container-options{
    background-color: rgb(58, 58, 58);
    color: white;
    border-radius: 50px;
    width: 400px;
    height: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: .3s;
}

.main-options{
    margin: 30px;
}

.main-options h2{
    margin-top: 10px;
}

.icon-options{
    color: #ffffff;
    font-size: 50px;
    background-color: #1167A8;
    border-radius: 50px;
    padding: 20px;
    transition: .3s;
}

.about-main{
    color: #ffffff;
    border: 0px;
    background-color: #00d9ff;
    padding: 10px;
    border-radius: 50px;
    margin: 20px 0px 0px 240px;
    cursor: pointer;
}

.main-container-options:hover{
    background-color: rgb(42, 42, 42);
}

.main-container-options:hover .icon-options{
    background-color: #0091ff;
}

.main-container-index-som h1{
    margin-top: -15px;
    margin-bottom: 70px;
}

.img-main{
    width: 16000px;
    max-width: 100%;
}

.main-contaienr-imgs h2{
    margin-bottom: -20px;
}

.map{
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.map-img{
    border-radius: 20px;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sec-index-moveis{
    text-align: center;
}

.sec-index-moveis h1{
    margin-top: -15px;
    margin-bottom: 70px;
}

.movel-index{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
}

.movel-index-img{
    margin-top: -100px;
    margin-bottom: 70px;
}

.movel-icons-container{
    margin-left: 60px;
    margin-bottom: 50px;
}

.movel-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0px;
}

.movel-icons img{
    width: 50px;
}

.movel-lines{
    border: 1px solid #00000049;
    display: block;
    width: 300px;
}

@media(max-width: 1584px){
    .movel-index-img{
        max-width: 900px;
    }
}

@media(max-width: 1400px){
    .main-container-options{
        width: 380px;
    }
    .about-main{
        margin: 20px 0px 0px 230px;
    }
}

@media(max-width: 1290px){
    .movel-index-img{
        margin-top: -150px;
        max-width: 600px;
    }
}

@media(max-width: 1160px){
    .sec-index-moveis{
        margin: 0px;
        text-align: center;
    }
}

@media(max-width: 970px){
    .movel-index-img{
        margin-top: -150px;
        max-width: 450px;
    }
    .about-main{
        margin: 20px 0px 0px 170px;
    }
}

@media(max-width: 840px){
    .movel-icons-container{
        margin-left: 10px;
    }
    .movel-icons-container{
        display: none;
    }
    .movel-index-img{
        text-align: center;
        margin-top: -10px;
        max-width: 600px;
        margin-left: 50px;
    }
}

@media(max-width: 425px){
    .movel-index-img{
        max-width: 400px;
        margin-left: 20px;
    }
    .main-container-index-som h1, .sec-index-moveis h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .main-container-index-som h2, .sec-index-moveis h2{
        font-size: 30px;
    }
}

@media(max-width: 375px){
    .movel-index-img{
        max-width: 330px;
    }
    .about-main{
        margin: 20px 0px 0px 120px;
    }
}

@media(max-width: 320px){
    .movel-index-img{
        max-width: 300px;
    }
    .sec-index-moveis h1{
        font-size: 30px;
    }
    .sec-index-moveis h2{
        font-size: 20px;
    }
    .movel-index{
        margin-bottom: 0px;
    }
    .about-main{
        margin: 20px 0px 0px 40px;
    }
}   