.index-main{
    margin-top: 70px;
    margin-bottom: 70px;
}

.main-container-index-som{
    text-align: center;
}

.main-container-index-som h1{
    margin-top: -15px;
    margin-bottom: 70px;
}

.img-main{
    width: 16000px;
    max-width: 100%;
}

.main-contaienr-imgs h2{
    margin-bottom: -20px;
}

@media(max-width: 425px){
    .main-container-index-som h1, .sec-index-moveis h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .main-container-index-som h2, .sec-index-moveis h2{
        font-size: 30px;
    }
}

.sec-index-moveis{
    text-align: center;
}

@media(max-width: 1160px){
    .sec-index-moveis{
        margin: 0px;
        text-align: center;
    }
}

.sec-index-moveis h1{
    margin-top: -15px;
    margin-bottom: 70px;
}

.movel-index{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movel-index-img{
    margin-top: -100px;
    margin-bottom: 70px;
}

.movel-icons-container{
    margin-left: 60px;
    margin-bottom: 50px;
}

.movel-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0px;
}

.movel-icons img{
    width: 50px;
}

.movel-lines{
    border: 1px solid #00000049;
    display: block;
    width: 300px;
}

@media(max-width: 1584px){
    .movel-index-img{
        max-width: 900px;
    }
}

@media(max-width: 1290px){
    .movel-index-img{
        margin-top: -150px;
        max-width: 600px;
    }
}

@media(max-width: 970px){
    .movel-index-img{
        margin-top: -150px;
        max-width: 450px;
    }
}

@media(max-width: 840px){
    .movel-icons-container{
        margin-left: 10px;
    }
    .movel-icons-container{
        display: none;
    }
    .movel-index-img{
        text-align: center;
        margin-top: -40px;
        max-width: 600px;
        margin-left: 50px;
    }
}

@media(max-width: 425px){
    .movel-index-img{
        max-width: 400px;
        margin-left: 20px;
    }
}

@media(max-width: 375px){
    .movel-index-img{
        max-width: 330px;
    }
}

@media(max-width: 320px){
    .movel-index-img{
        max-width: 300px;
    }
}   