.index-main{
    margin-top: 70px;
    margin-bottom: 70px;
}

.main-container-index-som{
    text-align: center;
}

.main-container-index-som h1{
    margin-top: -15px;
    margin-bottom: 70px;
}

.img-main{
    width: 16000px;
    max-width: 100%;
}

.main-contaienr-imgs h2{
    margin-bottom: -20px;
}

.internet-button{
    border: 0px;
    background-color: #53E261;
    padding: 8px 10px;
    border-radius: 150px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    margin-top: 650px;
    margin-left: -200px;
}

.internet-button:hover{
    background-color: #3da847;
}

.moveis-title{
    text-align: center;
    line-height: 50px;
    margin-left: -590px;
}

@media(max-width: 1024px){
    .internet-button{
        margin-top: 500px;
    }
}

@media(max-width: 768px){
    .internet-button{
        margin-top: 370px;
        margin-left: -180px;
        font-size: 15px;
    }
}

@media(max-width: 425px){
    .internet-button{
        margin-top: 200px;
        margin-left: -110px;
        font-size: 10px;
        padding: 6px 8px;
    }
    .main-container-index-som h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .main-container-index-som h2{
        font-size: 30px;
    }
}

@media(max-width: 375px){
    .internet-button{
        margin-top: 175px;
    }
}

@media(max-width: 320px){
    .internet-button{
        margin-top: 150px;
        font-size: 8px;
        margin-left: -90px;
    }
}