.degrade {
    background-image:url(../img/Background\ mobilidade.jpg);
    background-position: bottom;
    background-size: 100%;
}

img {
    max-width: 100%;
    display: block;
}

.degrade > span {
    display: flex;    
}


.icone {
    padding: 15px;
    display: flex;
    margin-left: 15px;
}

.titulos {
    display: flex;
    font-size: 50px;
    color: aliceblue;
    margin-top: 60px; 
}

.degrade > h2 {
    font-size: 25px;
    color: aliceblue;
    margin-left: 40px;
}

.contrate{
    transition: transform 500ms linear;
}
.contrate:hover{
    transform: scale(1.10);    
}

pre {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    font-size: 18px;
    text-align: center;  
    padding: 10px;    
}


.flex > div {
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    border: 1px solid gray;
    width: 500px;
    margin: 0 auto;  
    box-shadow: 6px 6px 9px grey;
}


.icons{
   display: flex;
   margin: auto;
   margin-top: 10px; 
}


.botoes{
    background-color: #AA0E27;
    color: aliceblue;
    height: 40px;
    width: 110px;
    font-size: large;
    margin: 0 0 30px 0;
    border-radius: 10px;
    border-color: #AA0E27;
    font-family: Arial, Helvetica, sans-serif;     
}

.botoes:hover{
    background-color: aliceblue;
    color: #AA0E27;
}

.contrate {
    background-color: red;
    color: aliceblue;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    margin: 0 0 30px 40px;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .flex div{
        margin: 20px auto;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .flex div{
        margin: 20px auto;
    }
    
}

@media only screen and (min-width: 1024px){
    .flex div{
        width: 450px;
    }
}

