.degrade {
    background-image:url(/img/Background\ mobilidade.jpg);
    background-position: center;
    background-size: 100%;
}

img {
    max-width: 100%;
    display: block;
}

.degrade > span {
    display: flex;    
}


.icone {
    padding: 15px;
    display: flex;
    margin-left: 15px;
}

.titulos {
    display: flex;
    font-size: 50px;
    color: aliceblue;
    margin-top: 60px;
    border-color:  black;   
}

.degrade > h2 {
    font-size: 25px;
    color: aliceblue;
    margin-left: 40px;
}

.contrate{
    transition: transform 500ms linear;
}
.contrate:hover{
    transform: scale(1.10);    
}

pre {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

.flex {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 70px;
    font-size: 18px;
    text-align: center;
    margin-left: 500px; 
    margin-right: 500px;
    gap: 70px;    
}


.flex > div {
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    border: 1px solid gray;
    max-width: 300px;   
    padding: 0px 10px; /*Foi mexido para aumentar a largura da div*/
    margin: auto;
    box-shadow: 6px 6px 9px grey;
}


.icons{
   display: flex;
   margin: auto;
   margin-top: 10px; 
}


.botoes{
    background-color: #AA0E27;
    color: aliceblue;
    height: 40px;
    width: 110px;
    font-size: large;
    margin: 0 0 30px 0;
    border-radius: 10px;
    border-color: #AA0E27;
    font-family: Arial, Helvetica, sans-serif;     
}

.contrate {
    background-color: red;
    color: aliceblue;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    margin: 0 0 30px 40px;
    font-size: 18px;
}