.degrade {
    background-image:url(/img/background\ telefonia.jpg);
    background-position: center;
    background-size: 100%;
}

img {
    max-width: 100%;
    display: block;
}

.degrade > span {
    display: flex;    
}


.icone {
    padding: 15px;
    display: flex;
    
}

.titulos {
    display: flex;
    font-size: 50px;
    color: aliceblue;
    margin-top: 60px;   
}

.degrade > h2 {
    font-size: 25px;
    color: aliceblue;
    margin-left: 40px;
}

pre {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

.flex {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 70px;
    font-size: 18px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;   
    
}


.flex > div {
    flex: 1 1 200px;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    border: 1px solid gray;
    max-width: 400px;
    margin: auto;     
}


.icons{
   display: flex;
   margin: auto;
    
}

.botoes{
    background-color: #AA0E27;
    color: aliceblue;
    height: 40px;
    width: 110px;
    font-size: large;
    margin: 0 0 30px 0;
    border-radius: 10px;
    border-color: #AA0E27;
    font-family: Arial, Helvetica, sans-serif;      
    
}

.contrate {
    background-color: red;
    color: aliceblue;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    margin: 0 0 30px 40px;
    font-size: 18px;
}